{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <h1>Create new Post</h1>

    {{ include('admin/post/_form.html.twig') }}

    <a href="{{ path('admin_post_index') }}">back to list</a>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/admin/post.css') }}">
{% endblock %}