{% extends "base.html.twig" %}

{% block body %}

    {% include "partials/navbar.html.twig" %}

    <section class="container">
        {% block content %}{% endblock %}
    </section>

{% endblock %}  

{% block stylesheets %}
    {% block css %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {% block js %}{% endblock %}
{% endblock %}