{% extends "base.html.twig" %}

{% block body %}

    {% include "partials/navbar.html.twig" %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% include "partials/footer.html.twig" %}

{% endblock %}