.post-details {
    border: 1px solid #ced4da;
    width: 100%;
    padding: 1rem 1.25rem;
    margin: .5rem 0;
    border-radius: .25rem;
}

.post-form-image {
    margin-bottom: .6rem;
    width: 100%;
    height: auto;
}

.post-form-image:hover {
    cursor: pointer;
}