<div class="row">
    <div class="col-12 col-lg-9 col-xl-8">

        <h1 class="h5">Modifier le profil #{{ user.id }}</h1>

        {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">Enregistrer</button>

        {{ form_end(form) }}
    </div>
</div>