<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button 
            class="nav-link active" 
            id="profile-tab" 
            data-bs-toggle="tab" 
            data-bs-target="#profile" 
            type="button" 
            ole="tab" 
            aria-controls="profile" 
            aria-selected="true"
        >Mon profil</button>
    </li>
    <li class="nav-item" role="presentation">
        <button 
            class="nav-link" 
            id="home-tab" 
            data-bs-toggle="tab" 
            data-bs-target="#home" 
            type="button" 
            role="tab" 
            aria-controls="home" 
            aria-selected="false"
        >Articles</button>
    </li>
    <li class="nav-item" role="presentation">
        <button 
            class="nav-link" 
            id="action-tab" 
            data-bs-toggle="tab" 
            data-bs-target="#action" 
            type="button" 
            role="tab" 
            aria-controls="action" 
            aria-selected="false"
        >Actions</button>
    </li>
</ul>
