<div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5 g-4">
    {% for post in posts %}
        <div class="col mb-2">
            <div class="card h-100">
                <img src="{{ post.image }}" class="card-img-top" alt="Image à la une de l'article">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.summary }}</p>
                    <a href="{{ path('blog_post_show', {id: post.id, slug: post.slug}) }}" class="card-link">Lire l'article</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>